body {
    background-color: rgb(10, 145, 28);
    margin-top: 100px;
}
.container {
    width: 1024px;
    margin: 0 auto;
    
}
label {
    color: rgb(255, 255 , 255);
}
.card {
border-radius: 20px;
    background-color: rgb(198, 248, 117);
    width: 400px;
    margin: 0 auto;
    padding: 100px 50px;
    -webkit-box-shadow: -1px 9px 27px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 27px 5px rgba(0,0,0,0.75);
}
.img_container {
    top: 0px;
    text-align: center;
    margin-bottom: 15px;
}
img {
    width: 150px;
    position: absolute;
    top: -75px;
    left: 125px;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

form {
    
text-align: center;

}
input {
    background-color: transparent;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 250px;
    border: none;
    margin-bottom:15px ;
    transition:.4s;
    outline-style:none;
box-shadow:none;
border-color:transparent;
    border-bottom: 2px solid rgb(26, 22, 238);
}
input::placeholder{
    color:rgb(0, 26, 255);
    font-size: 20px;
}
input:hover{
    width: 100%;
}
p {
text-align: center;
}

.register_button {
    margin:0 auto;
    font-size: 20px;
    background-color: rgb(38, 0, 255);
    color: rgb(204, 255, 157);
    width: 200px;
    border-radius: 50px;
    border:none;
    bottom: 0px;
    transition:.4s;
}
.register_button:hover{
    width: 100%;
    transition: .4s;
}

@keyframes anim {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(100px);
    }
}

























